# Node
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Next.js
.next
out

# Prisma
prisma/generated
*.db-journal

# Env
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
env/
.venv/

# FastAPI / Uvicorn
*.pid
*.log

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/
